<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectivity.ExtensionSettings3>
      <extension
      interface="Autodesk.Connectivity.JobProcessor.Extensibility.IJobHandler, Autodesk.Connectivity.JobProcessor.Extensibility, Version=21.0.0.0, Culture=neutral, PublicKeyToken=aa20f34aedd220e1"
      type="FavelleVaultJobs.CustomJobHandler, FavelleVaultJobs">
        <setting key="JobType1" value="FavelleVaultJobs.ExportItem.LifeCycleStateChange"/>
        <setting key="JobType2" value="FavelleVaultJobs.ExportBOM.LifeCycleStateChange"/>
        <setting key="JobType3" value="FavelleVaultJobs.ImportItem.AutoSync"/>
        <setting key="JobType4" value="FavelleVaultJobs.ImportItem.ManualSync"/>
        <setting key="JobType5" value="FavelleVaultJobs.ExportItem.ManualSync"/>
        <setting key="JobType6" value="FavelleVaultJobs.ExportBOM.ManualSync"/>
      </extension>
  </connectivity.ExtensionSettings3>
</configuration>