<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectivity.ExtensionSettings3>
    <extension
      interface="Autodesk.Connectivity.WebServices.IWebServiceExtension, Autodesk.Connectivity.WebServices, Version=21.0.0.0, Culture=neutral, PublicKeyToken=aa20f34aedd220e1"
      type="FavelleVaultws.FavelleVaultws.TickCheckList, FavelleVaultws">
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>
